@tailwind base;
@tailwind components;
@tailwind utilities;

/* COLOR VARIABLES */
html {
  --brand-light: hsl(14 91% 54%);
  --text1-dark: hsl(233 14% 11%);
  --text2-light: hsl(0 0% 100%);
  --surface1-light: hsl(0 0% 90%);
  --surface2-light: hsl(0 0% 59%);
  //--background-opacity: hsl(205 100% 7% / 0.7);
  --background-opacity: red;
}
