@tailwind base;
@tailwind components;
@tailwind utilities;

/* COLOR VARIABLES */
html {
  --brand-light: hsl(14 91% 54%);
  --text1-dark: hsl(233 14% 11%);
  --text2-light: hsl(0 0% 100%);
  --surface1-light: hsl(0 0% 90%);
  --surface2-light: hsl(0 0% 59%);
  --background-util: #23a6f0;
  --background-opacity: red;
}

@layer components {
  ul.active {
    left: 0;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}
